*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color:#e9ecef;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
 background-color:#ffffff;
 padding: 20px;
 margin: 10px;
 border-radius: 5px;
 box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.main{
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    
}

input{
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
}

h2{
    text-align: center;
    margin-bottom: 10px;
}

.but{
    margin-top: 10px;
    background-color: blue;
     border:solid black 1px;
     border-radius: 6px;
     padding: 5px;
     color: aliceblue;
     cursor: pointer;

    
}

.but:hover{
    background-color: #e9ecef;
    color: black;
}

a:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 600px){
    .content{
        width: 90%;
        padding: 15px;
    }

    .main{
        gap: 20px;
    }
}